html, body {
  font-size: 18px;
}

body {
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", "Geneva", "Arial", sans-serif;
  /*color: #666;*/
}

h1 {
  color: black;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: -.04rem;
  margin: 0;
  margin-bottom: .75rem;
  background-color: #f2f2f2;
  padding: 1.5rem 1.33rem 1rem 1.5rem;
}

p.lead {
  font-size: 1.33rem;
}

p, ul, ol, dl {
  letter-spacing: -.03rem;
  padding: 0rem 1.66rem;
}

li {
  margin-left: 3rem
}

dt {
  color: black
}

dd {
  margin-bottom: 20px
}

p.copyright {
  font-size: 1.2rem;
  margin-left: 1.7rem;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

a.eline {
  color: #f06
}

strong, b {
  font-weight: 600;
}

#server {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: silver;
  font-size: 10px;
}

.homebtn {
  float: left;
}

@media(max-width:767px){
  html, body {
    font-size: 12px;
  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}