<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="AboMapperCustom-45252"/>
      <remove name="AboMapperCustom-45251"/>
      <remove name="AboMapperCustom-45250"/>
      <remove name="AboMapperCustom-40977-45253"/>
      <remove name="AboMapperCustom-40977"/>
      <remove name="AboMapperCustom-40970"/>
      <remove name="AboMapperCustom-40969"/>
      <remove name="AboMapperCustom-40968"/>
      <remove name="AboMapperCustom-40975"/>
      <remove name="AboMapperCustom-40974"/>
      <remove name="AboMapperCustom-40972"/>
      <remove name="AboMapperCustom-40971"/>
      <remove name="AboMapperCustom-40973"/>
      <add modules="IsapiModule" name="ColdFusion2016-cfc" path="*.cfc" preCondition="bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" verb="*"/>
      <add modules="IsapiModule" name="ColdFusion2016-cfm" path="*.cfm" preCondition="bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" verb="*"/>
      <add modules="IsapiModule" name="ColdFusion2016-cfml" path="*.cfml" preCondition="bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" verb="*"/>
      <add modules="IsapiModule" name="ColdFusion2016-cfr" path="*.cfr" preCondition="bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" verb="*"/>
      <add modules="IsapiModule" name="ColdFusion2016-cfswf" path="*.cfswf" preCondition="bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" verb="*"/>
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add allowed="true" verb="GET"/>
          <add allowed="true" verb="POST"/>
          <add allowed="true" verb="DELETE"/>
          <add allowed="true" verb="PUT"/>
        </verbs>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="block favicon" stopProcessing="true">
          <match url="favicon\.ico"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action statusCode="404" statusDescription="The requested file favicon.ico was not found" statusReason="The requested file favicon.ico was not found" subStatusCode="1" type="CustomResponse"/>
        </rule>
        <rule name="pages" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.cfm/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" subStatusCode="-1"/>
    </httpErrors>
    <isapiFilters>
      <clear/>
      <filter enableCache="false" enabled="true" name="CF2016" path="D:\ColdFusion\CF2016\config\wsconfig\1\isapi_redirect.dll" preCondition="bitness64"/>
    </isapiFilters>
  </system.webServer>
</configuration>